@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/ptsans/ptsans.woff2') format('woff2'), url('../fonts/ptsans/ptsans.woff') format('woff'), url('../fonts/ptsans/ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Italic'), local('PTSans-Italic'), url('../fonts/ptsans/ptsansitalic.woff2') format('woff2'), url('../fonts/ptsans/ptsansitalic.woff') format('woff'), url('../fonts/ptsans/ptsansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/ptsans/ptsansbold.woff2') format('woff2'), url('../fonts/ptsans/ptsansbold.woff') format('woff'), url('../fonts/ptsans/ptsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
}
body{
	background-color: #FBFBFB;
	font-family: 'PT Sans';
}
a{
	text-decoration: none;
	color: #0018FF;
}
.wrapper{
	padding-bottom: 20px;
	transition-duration: .5s;
}
.contentWidth{
	width: 90%;
	margin: 0 auto;
}
.clearfix{
	clear: both;
}
.toolbar{
	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 0 1px 3px 0px #474747;
	color: #FFFFFF;
	font-size: 0.9rem;
	height: 30px;
	line-height: 30px;
	margin-bottom: 1rem;
	position: relative;
	z-index: 1;
}
.toolbar a{
	color: #C4C4C4;
}
.toolbar a:hover{
	color: #FFFFFF;
	transition: .3s;
}
.toolbar .contentWidth{
	display: flex;
	justify-content: space-between;
}
.loginName{
	display: flex;
	width: 95%;
}
.loginName .userName{
	color: #0000E7;
	min-width: 100px;
	width: 15%;
}
.log-in-out{
	min-width: 110px;
	text-align: right;
}
.searchNews__hint{
	font-size: .8em;
	color: #9a9a9a;
	margin-left: .5em;
	transition-duration: 2s;
}
.content .news .leftSide{
	width: 75%;
}
.content .news .rightSide{
	width: 20%;
}
.searchBlock{
	margin-top: 2em;
	width: 100%;
}
.description{
	margin-top: 3em;
}
.searchNews{
	margin-top: 1em;
}
.searchNews input[type="text"],
.searchStudentField{
	border: 1px solid #CFCFCF;
	outline: none;
	padding: 0.5em;
	width: 20%;
}
.searchNews input[type="text"], 
.resultList,
.searchStudentField{
	min-width: 190px;		
}
.resultList{
	box-shadow: inset 0 0 1px #3D3D3D;
	border: none;
	margin-top: -1px;
	width: 20%;
}
.resultList a{
	color: #5B5B5B;
	display: block;
}
.resultItem{
	font-size: 0.8em;
	padding: .4em;
	width: 100%;
}
.resultItem:hover{
	box-shadow: inset 0 0 3px -1px #3D3D3D;
	background-color: #F2F2F2;
	cursor: pointer;
}
.searchNews input[type="text"]:focus{
	box-shadow: 0 0 2px -1px #001DFF;
	transition-duration: .1s;
}
.searchNews input[type="submit"]{
	background-color: #1F1F1F;
	/* background: linear-gradient(to bottom, #171EA0, #0D116E); */
	border: 1px solid #CFCFCF;
	/* box-shadow: 0 0 1px 0px #3D3D3D; */
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	margin-left: 1em;
	min-width: 57px;
	outline: none;
	height: 30px;
	width: 8%;
}
.searchNews input[type="submit"]:hover{
	background-color: #454545;
	color: #FFFFFF;
	transition: .5s;
}
.toBack{
	margin: .4em 0;
}
.auth{
	background: #FFFFFF;	
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 0 10px -2px;
	min-width: 200px;
	padding: 15px;
	position: absolute;
	opacity: 0;
	top: -50%;
	left: 35%;
	transition-duration: .5s;
	width: 25%;
	z-index: 1;
}
.auth a{
	color: #FFFFFF;
	font-size: 0.8em;
}
.auth h2{
	border-bottom: 1px solid;
	font-weight: normal;
	margin-bottom: 1em;
}
.auth input{
	border: none;	
	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: 0 0 2px;
	margin-bottom: 15px;
	outline: none;
	padding: 0.5em;
	width: 80%;
	/* display: block; */
}
.auth input:focus{
	box-shadow: 0 0 3px #0D29B4;
}
.auth input[type="password"]{
	margin-bottom: 20px;
}
.auth input[type="submit"]{
	background-color: #FFFFFF;
	box-shadow: none;
	border: 1px solid;
	cursor: pointer;	
	display: block;
	margin: 0;
	padding: 0.4em;
	width: 25%;
}
.auth input[type="submit"]:hover{
	background-color: #222222;
	color: #FFFFFF;
	transition: .2s;
}
.news__new::before{
	border-color: #FBFBFB rgba(125, 125, 140, 0.65) rgba(125, 125, 140, 0.6) #FBFBFB;
	border-style: solid;
	border-width: 0 0 13px 13px;
	box-shadow: 1.5px 1.5px 2px 0px rgba(125, 125, 140, 0.55);
	content: '';
	left: -1px;
	position: absolute;
	top: -1px;
}
.new{
	background-color: #FFFFFF;
	box-shadow: 0 0 3px -2px;	
	margin-bottom: 1em;	
	padding: 1em;
	position: relative;
}
.newContent{
	max-height: 300px;
	overflow: hidden;
	transition: .4s linear;
}
.paginator{
	width: 75%;
}
.paginator a{
	display: inline-block;
	padding: .5em .8em;
}
.paginator a:hover{
	background-color: #D2D2D2;
}
.activePage a:hover{
	background-color: #003B85;
}
.paginator ul{
	background-color: #FFFFFF;
	box-shadow: 0 0 3px -2px;
	font-size: 1.2em;
	display: inline-block;
	list-style: none;
}
.paginator ul li{	
	display: inline-block;	
}

.paginator ul li:first-child a,
.paginator ul li:last-child a{
	/* padding: .8em .5em; */
}
.nextPage a{
	padding: .8em .5em;
}
.nextPage{
	height: 23px;	
}
.nextPage a:hover{
	background-color: #FFFFFF;
}
.prevPage a{
	transform: rotate(180deg);
}
.nextPage a{
	background-image: url('../img/arrow1.png');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 70%;
	display: block;
	height: 12px;
	width: 8px;
}
.paginator .activePage{
	background-color: #003B85;
	box-shadow: inset 0px 0px 1px 1px #000000;
}
.paginator .activePage a{
	color: #FFFFFF;
}
.newImg{

	background-position: 50% 20%;
	border-radius: 3px;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 7px -3px #000000;
	float: right;
	height: 200px;
	margin: 0 0 1em 1em;
	overflow: hidden;
	width: 45%;
}
.new h3{
	width: 80%;
}
.new .info{
	color: #6E6E6E;
	font-size: .8em;
	font-weight: bold;
	line-height: 1.8em;
}
.new .newText{
	text-align: justify;
}
.new .upper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	width: 100%;
}
.new .newAuthor{
	margin-left: 1em;
}
.actions{
	margin-top: .5em;
}
.actions .read{
	border: 1px solid #636363;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	/* font-size: .9em; */
	font-weight: bold;
	padding: .4em 1em;
	text-align: center;
	width: 100%;
	/* min-width: 8%; */
}
.actions .read:hover{
	background-color: #002B7A;
	color: #FFFFFF;
	transition: .3s;
}
.new .files{
	background-color: #E2E2E2;
	/* height: 30px; */
	margin: 1em 0;
	padding: .5em;
	width: 100%;
}
.new .files li{
	display: inline-block;
	margin-right: 2em;
}
.new .files li a:hover{
	color: #001B61;
}
.readText{
	cursor: pointer;
	display: inline-block;
	font-size: .8em;
	margin-top: 1em;
}
@media all and (max-width: 1025px){
	.contentWidth{
		width: 95%;
	}
	.new .upper{
		display: block;
	}
}
@media all and (max-width: 800px){
	.newImg{
		float: none;
		width: 95%;
	}
}
@media all and (max-width: 450px){
	.newImg{
		height: 100px;
		width: 90%;
	}
}