.students{
	/* margin: 0 auto; */
	width: 70%;
}
.students th{
	cursor: pointer;
	padding: .4em;
	text-align: left;
	text-shadow: 0 0 3px #000000;
}
.students th:hover{
	background-color: #0A1199;
}
.students td{
	padding: .4em;
}
/* .students td{
	border-bottom: 1px solid #E4E4E4;
} */
.students tr:nth-child(odd){
	/* background-color: #E4E4E4; */
}
.students tr:first-child{
	background-color: #002F7D;
	color: #FFFFFF;
}
.deleteNew{
	/* bottom: 0; */
	border-bottom: 1px solid;
	padding: .5em 0;
	position: absolute;
	top: 100%;
	right: 0;
	/* text-align: right; */
}
.deleteNew a{
	background-color: #FFFFFF;
	border: 1px solid;
	color: #FF0000;
	padding: .5em;
}
.newContent{
	max-height: none !important;
	overflow: visible;
	/* height:; */
}
.new{
	position: relative;
}
.tableTitle{
	border-top: 1px dashed;
	/* display */
	margin: 1.5em 0 1em;
	max-width: 25%;
	padding-top: .5em;
}
.statusChecked{
	background-color: #B9FFA3;
}
.statusNo{
	background-color: #E4E4E4;
}