h3{
	display: block;
}
.editGroupName,
.editGroupSize{
	border: 0;
	box-shadow: inset 0px -1px 4px -2px;
	display: inline-block;
	margin: 0 .5em;
	padding: .2em;
	width: 20%;
}
.editGroupName:focus,
.editGroupSize:focus{
	background-color: #EFEFEF;
	outline: none;
}
.editGroupSize{
	width: 10%;
}
.leftBlock,
.rightBlock{
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	height: auto;
	margin: 1em 0;	
	padding: 1em;
	width: 48%;
}
.leftBlock{
	float: left;
}
.rightBlock{
	float: right;
	min-height: 400px;
	position: relative;
}

.group{
	background-color: #FFFFFF;
	margin: .5em 1em .7em 0;
	outline: none;
}
.groups input:last-child{
	border-color: #0012FF;
	color: #0010E5;
	padding: .5em 1em;
}
.groups input:last-child:hover{
	
}
.editGroup{
	margin: 2em 0 0;
}
.editGroup span,
.editGroup label{
	color: #525252;
}
.editGroup .action{
	margin-top: 1.5em;
	text-align: right;
}
.leftBlock .saveNewGroup{
	margin-left: 1em;
}
.addStd{
	margin-right: 1em;
}
.saveGroupName,
.saveStds,
.saveNewGroup{
	border: 1px solid;
	cursor: pointer;
	font-size: .9em;
	padding: .2em .4em;
}
.editGroup .saveGroupName,
.saveStds{
	display: none;
}
.rightBlock .saveNewGroup{
	display: inline-block;
	margin: 0;
}
.deleteGroup{
	border: 1px solid;
	color: #FF0000;
	font-size: .9em;
	padding: .2em .4em;
}
.stdList{
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
}
.stdList th{
	text-align: left;
}
.stdList th,
.stdList td{
	padding: .4em;
}
.stdList th:first-child{
	width: 40%;
}
.stdList td:nth-child(2){
	padding-left: 2em;
	width: 20%;
}
.stdList tr:not(:first-child) td:first-child{
	cursor: pointer;
}
.stdList tr:not(:first-child):hover{
	background: #F0F0F0;
}

.stdList td:nth-child(3){
	text-align: right;
	width: 10%;
}
.stdList td:nth-child(3) img{
	cursor: pointer;
	display: none;
	height: 12px;
	width: 12px;
}
.editStds{
	font-size: .9em;
	margin: 2em .5em 0;
}
.newStds{
	border: none;
	border-bottom: 1px solid;
	margin: 1em 4em 0em 0;
	outline: none;
	padding: .2em;
	position: relative;
}
.newStds::after{
	content: '|';
	display: inline-block;
	height: 20px;
	position: absolute;
	width: 10px;
}
.msgSuccess{
	/*bottom: 14px;*/
	color: #404040;
	font-size: .9em;
	margin: 0 1em;
	position: absolute;
	transition: .8s;
}
.newStdField{
	display: block;
	margin: .5em .4em;
	padding: .3em;
	width: 39%;
}
.groupInfo input[type="checkbox"]{
	margin: 0 .5em 0 .5em;
}
.groupInfo label{
	margin-left: 1em;
}
.hintGroupType{
	background-color: #DEB68F;
	border-radius: 5px;
	font-size: .7em;
	margin-top: 1.5em;
	padding: .2em .6em;
}
.searchStudentField{
	box-shadow: 0 1px 3px -2px;
	width: 50%;
}
.rightBlockTitle{
	margin-bottom: 1em;
}
.resultList{
	margin-bottom: 2em;
	max-height: 200px;
	overflow: auto;
	width: 50%;
}
.rightBlock li{
	display: inline-block;
	margin-right: 1em;
	margin-bottom: .2em;
}
.rightBlock li .listItem{
	font-weight: bold;
}
.rightBlock ul{
	margin-bottom: 1em;
}
.rightBlock li:hover{
	cursor: pointer;
	text-decoration: line-through;
}
.newStdList{
	margin-bottom: 2em;
}
.warning{
	color: #ff4e00;
	font-size: 14px;
	margin-top: .5em;
}
.warning span{
	cursor: pointer;
	text-decoration: underline;
}