.profile form{
	display: flex;
	margin-top: 1.5em;
	margin-left: 1em;
	width: 100%;
}
.prof-photo{
	height: 100px;
	margin-right: 1em;
	position: relative;
	width: 100px;
}
.prof-photo label{
	background-color: rgba(0, 0, 0, .6);
	bottom: 0;
	color: #FFFFFF;
	font-size: .9em;
	/* font-weight:; */
	/* rgba(255, 144, 0, .7) */
	left: 0;
	padding: .2em;
	position: absolute;
	overflow: hidden;
	width: 100%;
	/* text-align: center; */
}
.prof-photo label span{
	display: inline-block;
	text-align: center;
	width: 100%;
}
.prof-photo img{
	width: 100%;
}
.prof-data p{
	margin: .5em 0;
}
.prof-data input[type="text"],
.admin-list input[type="text"],
.admin-list input[type="password"]{
	border: none;
	border-bottom: 1px solid;
	/* box-shadow: 0px 0px 2px -1px; */
	outline: none;
	margin-bottom: .5em;
	padding: .2em;
}
.prof-edit-but{
	/* background-color: rgba(87, 83, 255, 0.8); */
	background: #002f7d;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	display: none;
	font-size: .75em;
	margin-top: 1em;
	outline: none;
	padding: .4em;
}
.admin-privilege__icon{
	height: 20px;
	margin-right: 5px;
	width: 20px;
}
.admin-privilege__checkbox{
	margin: 0 !important;
}
.admin-privilege__name{
	font-size: 14px;
}
.new-admin{
	margin-top: 2em;
	width: 80%;
}
.new-admin fieldset{
	border: 1px solid #BABABA;
	padding: .8em 1em 1em;
}
.new-admin legend{
	font-size: 0.9em;
	padding: 0 0.4em;
}
.new-admin input[type="text"]{
	margin-right: 1em;
	padding: .4em;
}
.admin-privilege{
	margin-top: .5em;
}
.admin-privilege label{
	margin-right: .5em;
}
.new-admin input[type="submit"]{
	background-color: #002f7d;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 1em;
	outline: none;
	padding: .4em .6em;
}
.admin-list{
	margin-top: 2em;
	width: 83.5%;
}
.admin-list th{
	cursor: pointer;
	padding: .4em;
	text-align: left;
	text-shadow: 0 0 3px #000000;
}
.admin-list th:hover{
	background-color: #0A1199;
}
.admin-list td{
	padding: .4em;
}
/* .students td{
	border-bottom: 1px solid #E4E4E4;
} */
.admin-list tr:nth-child(odd){
	/* background-color: #E4E4E4; */
}
.admin-list tr:first-child{
	background-color: #002F7D;
	color: #FFFFFF;
}
.admin-list td:first-child img{
	width: 40px;
}
.admin-list td:first-child{
	text-align: center;
	width: 80px;
}
.admin-list tr:not(:first-child):hover{
	background: #ECECEC;
}
.admin-list tr:not(:first-child){
	height: 50px;
}
.admin-list tr td:last-child{
	background: #FBFBFB;
	width: 47px;
}
.admin-list tr td:last-child img{
	cursor: pointer;
	display: none;
}
.admin-list .admin-level{
	text-align: center;
	width: 15%;
}
#ava{
    height: .1px;
    opacity: 0;
    overflow: hidden;
    width: .1px;
}
.label{
	color: #909090;
	font-size: .8em;
	margin-left: 1em;
}
.editableTr{
	background-color: #ECECEC;
}
.editableTr:hover{
	/* background: none !important; */
	/* background-color: #CFC3FF; */
}
.admin-list input[type="text"],
.admin-list input[type="password"]{
	background-color: inherit;
}
.admin-list input[type="password"]{
	margin-right: 3em;
}
.admin-list select{
	/* background-color: inherit; */
	border: 1px solid #D8D8D8;
	outline: none;
	padding: .2em;
}
.editableTr .admin-level a:first-child{
	background-color: #002f7d;
	border-radius: 3px;
	color: #FFFFFF;
	margin-right: 1em;
	padding: .2em;
	text-shadow: 1px 1px 1px #000000;
}
.editableTr .admin-level a:last-child{
	color: #000000;
}
.admin-delete{
	margin-bottom: 3px;
	margin-left: 5px;
	width: 10px;
}
.admin-edit{
	width: 17px;
}
