body{
	min-width: 880px;
}
.breadCrumbs{
	font-size: 0.8rem;
	margin: 1em 0;
}
.nav{
	display: flex;
	margin: 2em;
}
.navMenu{
	font-size: .9em;
	list-style: none;
	min-width: 910px;
	width: 85%;
}
.navMenu li{	
	box-sizing: content-box;
	display: inline-block;
	padding: 0 5px;
	text-align: center;
	width: 15%;
}
.navMenu .active{
	background: #F3F3F3;
	box-shadow: inset 0 0 4px -1px #000000;
}
.navMenu .active a{
	color: #000000;
	font-weight: bold;
}
.nav-admins{
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.itemNav{
	border: 1px solid;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
	font-size: 0.8rem;
	height: 135px;
	margin: 20px;
	padding: 1em;
	width: 135px;
}f
.itemNav .img{
	height: 80px;
	text-align: center;
}
.itemNav:first-child .img{
	line-height: 110px;
}
.itemNav p{
	text-align: center;
}
.active{
	background-color: #D4D4D4;
	border: none;
}
h2{
	margin-bottom: 1em;
}
/* h3{
	margin-top: -2.5em;
	margin-bottom: 1em;
} */
label,
input[type="checkbox"]{
	cursor: pointer;
	margin-right: 5px;
}
.addNew fieldset{
	border: 1px solid #BABABA;
	box-sizing: border-box;
	padding: 1em;
	width: 90%;
}
.addNew input:not([type="checkbox"]):focus,
textarea:focus{
	background-color: #F5F5F5;
	box-shadow: 0 0 2px 0px #001EFF !important;
	transition-duration: .3s;
}
.addNew legend{
	color: #4E4E4E;
	font-size: 0.9em;
	padding: 0.4em;
}
.leftSide, .rightSide{
	width: 50%;
}
.addNew .formContent{
	display: flex;
}
.leftSide input[type="text"], 
input[type="date"]{
	box-shadow: 0 0 1px #000000;
	box-sizing: border-box;
	border: none;
	display: block;
	height: 25px;
	outline: none;
	padding: 0.5em;
	width: 90%;
}
input[type="date"]{
	width: 30%;
}
.hideAuthorBlock{
	margin: 0.3em 0em 2em 0.5em;
	position: relative;
}
.hideAuthorBlock input[type="checkbox"]{
	margin-left: 0.5em;
	position: absolute;
	top: 0.4em;
}
input[name="author"]{
	margin: 0 !important;
}
.hideAuthorBlock label{
	font-size: 0.8em;
}
.leftSide textarea,
.leftSide input[type="text"],
 input[type="date"]{
 	margin-bottom: 1em;
 }
.leftSide textarea{
	box-shadow: 0 0 1px #000000;
	box-sizing: border-box;
	border: none;
	font-family: 'PT Sans';
	display: block;
	max-width: 90%;
	outline: none;
	padding: 0.5em;
	width: 90%;
}
.heading{
	background-color: #1C1C1C;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 0.8em;
	padding: 0.4em 1em;
	position: relative;
	color: #FFFFFF;
	height: 25px;
	width: 48%;
	z-index: 10;
}
.rightSide .forGroup{
	margin-bottom: 1.3em;
}
.rightSide .forContent{
	border: 1px solid #B0B0B0;
	border-radius: 3px;
	display: none;
	padding: 0.2em 1em 1.6em 1em;
	position: relative;
	top: -1px;
	transition-duration: 2s;
	width: 100%;
	z-index: 50;
}
.forContent .listItems{
	display: flex;
	flex-wrap: wrap;
}
.selectAll{
	/* display: flex; */
	/* justify-content: space-between; */
	text-align: right;
	/* width: 95%; */
}

.selectAll a{
	color: #0D019E;
	margin-left: 1em;
}
.formGroup{
	color: #FF4E00 !important;
}
.forGroup .groupList, .forStudent .studentList{
	box-shadow: 0 0 1px #000000;
	box-sizing: border-box;
	font-size: 0.9em;
	height: 200px;
	margin-top: 1px;
	overflow: auto;
	padding: 0.5em;
	width: 90%;
}
.forStudent .leftSide input{
	width: 95%;
}
.forStudent .student{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.4em;
	width: 90%;
}
.forContent{
	font-size: 0.77em;
}
.forContent .rightSide{
	align-content: flex-start;
	display: flex;
	font-size: 0.77em;
	flex-wrap: wrap;
}
.group{
	border: 1px solid #000000;
	border-radius: 3px;
	cursor: pointer;
	/* font-weight: bold; */
	margin: 1em;
	padding: .5em;
}
.forGroup .active{
	background-color: #303030;
	color: #FFFFFF;
}
.studentName img{
	cursor: pointer;
	margin-left: 0.5em;
	width: 7px;
}
.openHeading img{
	transform: rotate(90deg);
}
.file{
	margin-bottom: 1em;
}
.file label{
	display: inline-block;
	font-size: .9em;
	width: 40%;
}
.leftSide .heading{
	background: none;
	color: #002775;
	font-size: .9em;
	padding: 0;
}
.leftSide .files{
	border: 1px solid #B0B0B0;
	border-radius: 3px;
	display: none;
	padding: 1em 1em;
	position: relative;
	top: -1px;
	transition-duration: 2s;
	width: 90%;
	z-index: 50;
}
.submitBlock{
	margin-top: 2em;
	position: relative;
}
.submitBlock input[type="submit"]{
	background-color: #00126D;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	height: 2.5em;
	width: 15%;
}
.submitBlock input[type="submit"]:focus{
	background-color: #00126D;
}
.activeGroup{
	background: #505050  !important;
	color: #FFFFFF;
	transition: .2s;
}
.groupName, .studentName{
	background: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #5F5F5F;
    margin: .7em;
    padding: .5em;    
}
input[type="button"]:focus{
	box-shadow: none !important;
}
.inactive{
	cursor: not-allowed !important;
	opacity: 0.4;
}
.successImg{
	left: 18%;
	position: absolute;
	top: 5px;
	transform: scale(0);
	transition: .5s;
	width: 25px;
}
.newHeading{
	color: #000000;
}
.footer{
	background: linear-gradient(to bottom, #ffffff 1%,#E1E1E1 70%,#C8C8C8 100%);
	color: #2D2D2D;
	font-size: .8em;
	height: 80px;
	margin-top: -80px;
	padding: 4em 0 1em;
}
.footer a{
	opacity: 0.8;
}
.footer a:hover{
	opacity: 1;
}
.wrapper{
	padding-bottom: 0;
	height: 100%;
}
.mainContent{
	min-height: 100%;
	padding-bottom: 100px;
}