.new{
	cursor: pointer;
}
.new:hover{
	box-shadow: inset 0 0 6px -3px #002AFF;
}
.statistic{
	color: #535353;
	font-size: .8em;
	margin-top: 1em;
}
.statistic li{
	display: inline-block;
	margin-right: 1em;
}
.statistic .percent{
	color: #00063B;
	font-weight: bold;
}
